@import "../../views/layout/_colours.scss";

.scrolldown {
    width: 20%;
    margin: auto;
    height: 5%;
    font-size: 24px;
    text-align: center;
}

.scrolldown:hover {
    color: $light-green;
    cursor: pointer;
}