@import "./_colours.scss";

:global * {
  -webkit-transition: all 0.2s ease;
  -moz-transition:    all 0.2s ease;
  -ms-transition:     all 0.2s ease;
  -o-transition:      all 0.2s ease;
}

body {
  background-color: $black;
  color: $green;
}

body small {
  color: $white;
}

.serif {
    font-family: Garamond, Georgia, serif
}

.sans_serif {
    font-family: Verdana, Arial, sans-serif;
}