@import "./_colours.scss";

body {
  background-color: $black;
  color: $green;
}

body small {
  color: $white;
}

.serif {
    font-family: Garamond, Georgia, serif
}

.sans_serif {
    font-family: Verdana, Arial, sans-serif;
}
